.home-bg {
}

.home-exp {
  width: 60%;
  margin: 0 auto;
}
.shop-btn {
  min-width: 200px;
  background-color: darkgoldenrod !important;
  color: black;
  height: 50px;
  font-size: 20px;
}

.login-btn {
  height: 30px;
  min-width: 100px;
}
